html, body {
  height: 100%; margin: 0; padding: 0;
}

#map {
  height: 50vh;
}

.fixed {
  // position: fixed ;
  // top: 10px;
  // left: 10px;
  // bottom: 10px;
  // overflow-y: auto;
}

#current-location {
  width: 30px;
  height: 30px;
}
